.container {
    width: 100%;
}
form {
    width: 100%;
}

form > * {
    margin-bottom: 1.5em;
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.signout {
    float: right;
}

@media (min-width: 900px) { 
    .container {
        margin: 0 auto;
        width: 75%;
    }
}